@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-weblink-blue;
}
a:hover {
  @apply text-weblink-blue-darker;
}

section:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 8em;
  margin-top: -8em;
}

@media (min-width: 640px) {
  section:before {
    height: 6em;
    margin-top: -6em;
  }
}

.embla {
  max-width: 70rem;
  margin: auto;
  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 80%;
  --slide-spacing-xs: 1.2rem;
  --slide-size-xs: 50%;
  --slide-spacing-sm: 1.2rem;
  --slide-size-sm: 50%;
  --slide-spacing-md: 2rem;
  --slide-size-md: calc(100% / 2.5);
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3.5);
}

.embla__viewport {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media (min-width: 500px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-xs);
    padding-left: var(--slide-spacing-xs);
  }
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-md);
    padding-left: var(--slide-spacing-md);
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  margin-top: 0.2em;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.6rem;
  height: 2.6rem;
  z-index: 5;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  @apply w-10;
  border-radius: 9999px;
  @apply bg-gray-200;
  @apply p-3;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.detail-container p {
  margin-bottom: 1.5rem;
}

.subHeader {
 }

.subHeader::after {
  z-index: 1;
  background: white;
}

.initialPage {
  justify-content: center;
}

.slideText {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  letter-spacing: 0.025em;
  text-align: left;
  font-weight: 300;
  background: white;
}

.walden {
  background-color: #183028 !important;
  color: white !important;
}

.casper {
  background-color: white !important;
}

.glossier {
  background-color: white !important;
}

.felcana {
  background-color: white !important;
}

.florence {
  background-color: white !important;
}

.dot {
  background-color: orange;
}

.title {
  color: rgb(5, 74, 238);
  font-size: 8vw;
  padding-left: 8vw;

  & > span {
    display: block;
    overflow: hidden;

    & > span {
      display: block;
    }
  }
}

.container > div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 25em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  -webkit-user-select: none;
  user-select: none;
}
