@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-weblink-blue;
}
a:hover {
  @apply text-weblink-blue-darker;
}

section:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 6em;
  margin-top: -6em;
}
