.background {
  background: #183028;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.scrollText {
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: auto;
  text-align: center;
  border: #183028;
  border-radius: 5px;
}

.initialPage {
  justify-content: center;
  background-color: #183028;
}

.slideText {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  letter-spacing: 0.025em;
  text-align: left;
  font-weight: 300;
  background: white;
}

.LHSSide {
  width: "50%";
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  text-align: "center";
  z-index: 50;
}

.parallax {
  margin-right: 15%;
}

.sticky {
  margin-left: 15%;
  background-color: white;
}

.blue {
  background-color: #5b65ad;
  color: white;
}

.purple {
  background-color: #9d65d0;
}

.waldenGreen {
  background: #183028;
}

.waldenLightGreen {
  background: #12976b;
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}

.subHeader {
 }

.subHeader::after {
  z-index: 1;
  background: white;
}
